<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.eff.certbot.renew</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ certbot_script }}</string>
        <string>renew</string>
        <string>{{ certbot_auto_renew_options }}</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>{{ certbot_auto_renew_hour }}</integer>
        <key>Minute</key>
        <integer>{{ certbot_auto_renew_minute }}</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/org.eff.certbot.renew.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/org.eff.certbot.renew.stderr</string>
</dict>
</plist>